
<table class="table">
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <p></p>
  <%= f.label :isbn, "ISBN" %>
  <%= f.text_field :isbn %>
  <p></p>
  <%= f.label :description, "Description" %>
  <%= f.text_field :description %>
  <p></p>
  <%= f.label :builddate, "Build Date" %>
  <%= f.date_select :builddate %>
  <p></p>
  <%= f.label :soldtime, "Sold Time" %>
  <%= f.datetime_select :soldtime %>
  <p></p>
</table>


  <% if @event!=nil %>

  <% if @event.errors.any? %>
  <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
  <% end %>
  <% end %>