<h1>Index</h1>

<% @events.each do |f| %>

  <table class="table table-hover">
    <tr>
      <td class="col-md-9"><%= f.name %></td>
      <td class="col-md-1"><button class="btn btn-default" type="submit"><%= link_to '顯示',event_path(f) %></button></td>
      <td class="col-md-1"><button type="button" class="btn btn-success"><%= link_to '修改',edit_event_path(f) %></button></td>
      <td class="col-md-1"><button type="button" class="btn btn-danger"><%= link_to '刪除',event_path(f) , :method => :delete %></button></td>
    </tr>
  </table>

<% end %>
  <%= paginate @events %>

<% if @e_show %>
<h1 class="col-md-12"> ===== SHOW =====</h1>
  <table class="table">
    <tr>
      <td class="col-md-2">id: <%= @e_show.id %></td>
      <td class="col-md-2">Name: <%= @e_show.name %></td>
      <td class="col-md-2">ISBN: <%= @e_show.isbn %></td>
      <td class="col-md-2">Des: <%= @e_show.description %></td>
      <td class="col-md-2">Build Date: <%= @e_show.builddate %></td>
      <td class="col-md-2">Sold Time: <%= @e_show.soldtime %></td>
    </tr>
  </table>

<% end %>


<% if @event %>
  <h1> ===== EDIT =====</h1>

  <%= form_for @event, url: event_path(@event), :method => :patch do |f| %>
    <%= render :partial => "input", :locals => { :f => f } %>
    <%= f.submit "update" %>
  <% end %>
<% end %>


<h1> ===== NEW =====</h1>

<%= form_for @e_new, url: events_path do |f| %>
  <%= render :partial => "input", :locals => { :f => f } %>
  <%= f.submit "input" %>
<% end %>

