<h1>NEW</h1>

<%= form_for @event, url: events_path do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %> <p></p>
  <%= f.label :isbn, "ISBN" %>
  <%= f.text_field :isbn %> <p></p>
  <%= f.label :description, "Description" %>
  <%= f.text_field :description %>
  <%= f.submit "Create" %>
<% end %>
<%= %>