<h1>SHOW</h1>
<p>id: <%= @event.id %></p>
<p>Name: <%= @event.name %></p>
<p>ISBN: <%= @event.isbn %></p>
<p>Des: <%= @event.description %></p>




<%= user_photo(event.user) %>

<p><%= link_to '回首頁', events_path %></p>